<div class="row">
  <div class="align-items-center col-sm-3">
    <div class="card">
      <img class="card-img-top" src="../../../assets/images/cuoc_song_truc_tuyen.jpg" alt="Card image cap">
      <div class="card-body text-center">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <a href="#" class="btn btn-primary">Xem thêm</a>
    </div>
  </div>

  <div class="align-items-center col-sm-3">
    <div class="card">
      <img class="card-img-top" src="../../../assets/images/image_128148.jpg" alt="Card image cap">
      <div class="card-body text-center">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <a href="#" class="btn btn-primary">Xem thêm</a>
    </div>
  </div>

  <div class="align-items-center col-sm-3">
    <div class="card">
      <img class="card-img-top" src="../../../assets/images/cuoc_song_truc_tuyen.jpg" alt="Card image cap">
      <div class="card-body text-center">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <a href="#" class="btn btn-primary">Xem thêm</a>
    </div>
  </div>

  <div class="align-items-center col-sm-3">
    <div class="card">
      <img class="card-img-top" src="../../../assets/images/image_128148.jpg" alt="Card image cap">
      <div class="card-body text-center">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <a href="#" class="btn btn-primary">Xem thêm</a>
    </div>
  </div>

  <div class="align-items-center col-sm-3">
    <div class="card">
      <img class="card-img-top" src="../../../assets/images/cuoc_song_truc_tuyen.jpg" alt="Card image cap">
      <div class="card-body text-center">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <a href="#" class="btn btn-primary">Xem thêm</a>
    </div>
  </div>

  <div class="align-items-center col-sm-3">
    <div class="card">
      <img class="card-img-top" src="../../../assets/images/image_128148.jpg" alt="Card image cap">
      <div class="card-body text-center">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <a href="#" class="btn btn-primary">Xem thêm</a>
    </div>
  </div>


</div>