.carousel-control-next-icon {
    background-color: blue;
    padding: 15%;
    border-radius: 50%;
}

.carousel-control-prev-icon {
    background-color: blue;
    padding: 15%;
    border-radius: 50%;
}