<div style="margin-top: 1em;">
  <p class="h3">Thông tin người đặt hàng</p>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Họ tên</label>
        <input class="form-control" placeholder="VD: Nguyễn Văn An">
      </div>
      <div class="form-group col-md-6">
        <label>Số điện thoại</label>
        <input class="form-control" placeholder="VD: 0123456789">
      </div>
    </div>
    <div class="form-group">
      <label>Địa chỉ</label>
      <input class="form-control" placeholder="VD: 1234 Main St">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" placeholder="vd: annguyen@gmail.com">
    </div>
    <button type="button" class="btn btn-primary btn-lg text-center">Đặt hàng</button>
  </form>
</div>