<div class="row">
    <div class="col-sm-12">
        <h3>Người đọc đánh giá</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-1">
        <div class="thumbnail">
            <img class="card-img" src="../../../../assets/images/ninja-512.png">
        </div>
    </div>

    <div class="col-sm-11">
        <div class="input-group">
            <textarea class="form-control" aria-label="With textarea" style="border-radius:0.5em; margin-right: 0.7em;"  ></textarea>
            <div class="input-group-prepend">
                <button class="input-group-text"  style="border-radius:0.4em;">Gửi</button>
            </div>
        </div>
    </div>
</div>
