<div class="list-group">
  <a class="list-group-item list-group-item-action" routerLink="/admin/book-category">Quản lý thể loại sách</a>
  <a class="list-group-item list-group-item-action" routerLink="/admin/book">Quản lý sách</a>
  <a class="list-group-item list-group-item-action" routerLink="/admin/comment">Quản lý bình luận</a>
  <a class="list-group-item list-group-item-action" routerLink="/admin/order-book">Quản lý đặt hàng</a>
  <button type="button" class="list-group-item list-group-item-action">Quản lý bài viết</button>
</div>