<div style="width:100%; border-top:1px solid rgb(151, 151, 151);">
  <p style="padding:15px;">
    Harry Potter và Hòn đá Phù thủy (tiếng Anh: Harry Potter and the Philosopher's Stone) là tác phẩm đầu
    tiên trong bộ truyện Harry Potter gồm 7 tập của nữ văn sĩ người Anh J. K. Rowling. Quyển sách đã được
    xuất bản ngày 30 tháng 6 năm 1997 bởi nhà xuất bản Bloomsbury. Đây là một tập truyện quan trọng, bởi nó
    đặt nền tảng cho 6 tập tiếp theo. Nó giúp ta bước đầu khám phá thế giới Pháp thuật của Harry Potter, làm
    quen với các nhân vật chính, địa điểm, với một số thuật ngữ... Tập đầu tiên này đưa ra những câu hỏi chưa
    có câu trả lời, bằng những dấu hiệu cho những tình tiết trong các tập tiếp theo, tạo cho độc giả sự tò
    mò.
  </p>
  <div>
    <ul>
      <li>Được dịch từ nguyên bản từ nguyên truyện của J.K Rowling</li>
      <li>Chất liệu giấy được kiểm tra kĩ lưỡng</li>
      <li>Mỗi trang đều có số đánh dấu</li>
      <li>Một quyển sách được tặng kèm dụng cụ đánh dấu trang </li>
      <li>Chân thành cám ơn, quý khách đã xem qua sản phẩm</li>
    </ul>
  </div>
</div>