<div class="row">
    <div class="col-sm-3">
        <div style="background-color: #FCF27B;margin-top:1em;border-radius: 10px;padding-left: 0.8em;padding-right:0.8em;">
            <h3>Danh mục sách</h3>
            <p>Các danh mục sách hiện đang bán</p>
        </div>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link active">Tất cả sách</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">"dfasdfas"</a>
            </li>
        </ul>
        <hr class="d-sm-none">

        <h2>Về chúng tôi</h2>
        <h5>Hình ảnh cửa hàng</h5>
        <img class="img-thumbnail" src="../../../assets/images/bookstore.jpg" />
        <p>Một số sách bán chạy đến mức không thể tin được..</p>
    </div>
    
    <div class="col-sm-9">
        <router-outlet></router-outlet>
    </div>
</div>