ul > li{margin-right:25px;font-weight:lighter;cursor:pointer}
li.active{border-bottom:3px solid rgb(20, 20, 18);}

.item-photo{display:flex;justify-content:center;border-right:1px solid #f8f5f5;}
.menu-items{list-style-type:none;font-size:11px;display:inline-flex;margin-bottom:0;margin-top:20px}

.btn-success{width:100%;}

.section{width:50%;margin-left:-15px;padding:2px;padding-left:15px;padding-right:15px;}

.btn-minus{cursor:pointer;font-size:10px;display:flex;padding:13px;padding-left:25px;padding-right:10px;border:0.8px solid gray;}
.btn-plus{cursor:pointer;font-size:10px;display:flex;padding:13px;padding-left:25px;padding-right:10px;border:0.8px solid gray;}
div.section > div {width:100%;display:inline-flex;}

div.section > div > input {margin:0;padding-left:5px;font-size:15px;padding-right:5px;max-width:18%;text-align:center;}
.attr,.attr2{cursor:pointer;margin-right:5px;height:20px;font-size:10px;padding:2px;border:1px solid gray;border-radius:2px;}
.attr.active,.attr2.active{ border:1px solid rgb(248, 166, 12);}