<div class="row"> 
  <div class="col-sm-3">
    <div class="card" style="width: 12em;">
      <img class="card-img-top" src="../../../assets/images/cuoc_song_truc_tuyen.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">IC3 Global Standard 4</h5>
        <p class="card-text">GS4 (Global Standard 4) là tiêu chuẩn toàn cầu về năng lực...</p>
        <a href="#" class="btn btn-primary">Xem thêm</a>
      </div>
    </div>
  </div>
  
  <div class="col-sm-3">
    <div class="card" style="width: 12em;">
      <img class="card-img-top" src="../../../assets/images/image_128148.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Thực Hành Microsoft</h5>
        <p class="card-text">Thực Hành Microsoft Word-Excell-Powerpoint 2016 Bằng..</p>
        <a href="#" class="btn btn-primary">Xem thêm</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card" style="width: 12em;">
      <img class="card-img-top" src="../../../assets/images/image_128148.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Thực Hành Microsoft</h5>
        <p class="card-text">Thực Hành Microsoft Word-Excell-Powerpoint 2016 Bằng..</p>
        <a href="#" class="btn btn-primary">Xem thêm</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card" style="width: 12em;">
      <img class="card-img-top" src="../../../assets/images/image_128148.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Thực Hành Microsoft</h5>
        <p class="card-text">Thực Hành Microsoft Word-Excell-Powerpoint 2016 Bằng..</p>
        <a href="#" class="btn btn-primary">Xem thêm</a>
      </div>
    </div>
  </div>
</div>

<div class="row"> 
  <div class="col-sm-3">
    <div class="card" style="width: 12em;">
      <img class="card-img-top" src="../../../assets/images/cuoc_song_truc_tuyen.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">IC3 Global Standard 4</h5>
        <p class="card-text">GS4 (Global Standard 4) là tiêu chuẩn toàn cầu về năng lực...</p>
        <a href="#" class="btn btn-primary">Xem thêm</a>
      </div>
    </div>
  </div>
  
  <div class="col-sm-3">
    <div class="card" style="width: 12em;">
      <img class="card-img-top" src="../../../assets/images/image_128148.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Thực Hành Microsoft</h5>
        <p class="card-text">Thực Hành Microsoft Word-Excell-Powerpoint 2016 Bằng..</p>
        <a href="#" class="btn btn-primary">Xem thêm</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card" style="width: 12em;">
      <img class="card-img-top" src="../../../assets/images/image_128148.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Thực Hành Microsoft</h5>
        <p class="card-text">Thực Hành Microsoft Word-Excell-Powerpoint 2016 Bằng..</p>
        <a href="#" class="btn btn-primary">Xem thêm</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card" style="width: 12em;">
      <img class="card-img-top" src="../../../assets/images/image_128148.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Thực Hành Microsoft</h5>
        <p class="card-text">Thực Hành Microsoft Word-Excell-Powerpoint 2016 Bằng..</p>
        <a href="#" class="btn btn-primary">Xem thêm</a>
      </div>
    </div>
  </div>
</div>

