.carousel-control-next-icon {
    background-color: gray;
    padding: 13%;
    border-radius: 25%;
}

.carousel-control-prev-icon {
    background-color: gray;
    padding: 13%;
    border-radius: 25%;
}