<table class="table table-bordered">
  <thead>
    <tr class="text-center">
      <th scope="col" style="width: 20%;">Tên sách</th>
      <th scope="col" style="width: 20%;">Loại sách</th>
      <th scope="col" style="width: 30%;">Nội dung cơ bản</th>
      <th scope="col" style="width: 20%;">Tác giả</th>
      <th scope="col" style="width: 10%;">Giá</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let bookCategory of bookCategories">
      <td scope="row">{{ bookCategories.indexOf(bookCategory) + 1}}</td>
      <td>
        {{ bookCategory.name }}
      </td>
      <td class="text-center">
        <button type="button" class="btn btn-danger" (click)="deleteBookCategory(bookCategory._id)">Xóa</button>
        <button type="button" class="btn btn-warning" style="margin:0.25em;" (click)="putBookCategory(bookCategory._id)">Sửa</button>
      </td>
    </tr>
  </tbody>
</table>
<div>
<button class="btn btn-primary" (click)="postBookCategory()">Thêm mới sách</button>
<button class=" btn btn-danger " (click)="postBookCategory()">Xem chi tiết sản phẩm</button>
</div>