<p class="h3">Quản lý thể loại sách</p>
<h5>Danh sách thể loại sách</h5>
<br>
<div>
  <div class="form-group row">
    <div class="col-sm-12">
      <button class="btn btn-primary float-right" routerLink="/admin/info-book-category">Thêm thể loại sách mới</button>
    </div>
  </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" style="width: 10%;">STT</th>
      <th scope="col" style="width: 70%;">Tên thể loại</th>
      <th scope="col" style="width: 20%;"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bookCategory of bookCategories">
      <td scope="row">{{ bookCategories.indexOf(bookCategory) + 1}}</td>
      <td>
        {{ bookCategory.name }}
      </td>
      <td class="text-center">
        <button type="button" class="btn btn-danger" (click)="deleteBookCategory(bookCategory._id)">Xóa</button>
        <button type="button" class="btn btn-warning" style="margin:0.25em;" routerLink="/admin/info-book-category/{{bookCategory._id}}">Sửa</button>
      </td>
    </tr>
  </tbody>
</table>