<p class="h3">Quản lý thể loại sách</p>
<br>
<div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Thể loại sách</label>
    <div class="col-sm-5">
      <input class="form-control" placeholder="Nhập thể loại sách" [(ngModel)]="bookCategory.name">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-6">
      <button class="btn btn-primary" (click)="postBookCategory()">Thêm mới</button>
    </div>
  </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" style="width: 10%;">STT</th>
      <th scope="col" style="width: 70%;">Tên thể loại</th>
      <th scope="col" style="width: 20%;"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bookCategory of bookCategories">
      <td scope="row">{{ bookCategories.indexOf(bookCategory) + 1}}</td>
      <td>
        {{ bookCategory.name }}
      </td>
      <td class="text-center">
        <button type="button" class="btn btn-danger" (click)="deleteBookCategory(bookCategory._id)">Xóa</button>
        <button type="button" class="btn btn-warning" style="margin:0.25em;" (click)="putBookCategory(bookCategory._id)">Sửa</button>
      </td>
    </tr>
  </tbody>
</table>