<div style="margin-top:1em;border-radius: 10px;padding-left: 0.8em;padding-right:0.8em;" *ngIf="book">
  <div class="row">
    <div class="col-sm-3">
      <img src="../../../assets/images/harry-potter-va-hon-da-phu-thuy-tb-lan-24.450x652.w.b.jpg" class="img-thumbnail"
        alt="Cinque Terre">
    </div>
    <div class="col-sm-9" style="border:0px solid gray">
      <!-- info cho book -->
      <h3>{{ book.name }}</h3>
      <h4 style="color:#32373b">Tác Giả <a href="#"> J.K.Rowling </a></h4>
      <!-- the hien gia ca va bao nhieu cuon -->
      <h5 class="title-price"><small>Giá</small></h5>
      <p>
        <span style="font-size: 2em;font-weight: bold; color: rgb(187, 47, 47)">{{ book.price }} VND </span>
      </p>
      <div class="section" style="padding-bottom:20px;">
        <h6 class="title"><small>Số lượng</small></h6>
        <div>
          <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
          <input value="1" />
          <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
        </div>
      </div>

      <!-- nút mua hàng -->
      <div class="section" style="padding-bottom:50px;">
        <button class="btn btn-success"><span style="margin-right:center" class="glyphicon glyphicon-shopping-cart"
            aria-hidden="true"></span>Thêm vào giỏ hàng</button>
        <h6><a href="#"><span class="glyphicon glyphicon-heart-empty" style="cursor:pointer;"></span></a></h6>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <ul class="menu-items">
          <li><a (click)="change()">Chi tiết sản phẩm</a></li>
          <li><a (click)="change()">Đánh giá sách</a></li>
        </ul>
        <app-review-book *ngIf="!kt"></app-review-book>
        <app-comment-for-book *ngIf="kt"></app-comment-for-book>
      </div>
    </div>